body {
  margin: 0;
  padding: 0;
  color: #bcbbb4;
  background-color: #fffef2;
}

.first-nav {
  background-color: #c2c2af;
  color: #333;
  width: 100%;
  border-bottom: 1px solid black;
  margin: 0;
  position: fixed;
  top: 0;
  height: 45px;
  box-sizing: border-box;
  z-index: 1000;
}

.first-nav a.formulation-link {
  color: #000;
  text-decoration: none;
}

.second-nav {
  background-color: #252525;
  color: #fffef2;
  width: 100%;
  border-bottom: 0.2px solid black;
  padding: 4px 1px;
  margin: 0;
  position: fixed;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  top: 30px;
  height: 55px;
  margin-top: 7px;
  z-index: 999;
}

.second-nav p.second-nav-para {
  text-decoration: none;
}

.second-nav p.second-nav-para:hover {
  text-decoration: underline;
}

.third-nav {
  background-color: #fffef2;
  pointer-events: auto;
  color: #0c0c0b;
  width: 100%;
  border-bottom: transparent;
  padding: 11px 1px;
  z-index: 998;
  margin-top: 89px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-items {
  list-style-type: none;
  margin: 0;
  padding: 30;
}

.nav-items ul li {
  display: inline-block;
  margin: 0 10px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 530;
  color: rgb(10, 10, 10);
  cursor: pointer;
}

.second-list {
  list-style-type: none;
  margin: 0;
  padding: 10;
  display: flex;
  align-items: end;
}

.second-list li {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: black;
  margin-left: 50px;
}

.third-nav .nav-items ul .search-icon {
  margin-right: auto;
}

.third-nav .nav-items ul {
  display: flex;
  align-items: center;
}

.third-nav .nav-items ul li {
  margin-right: 13px;
}

.search-icon {
  display: flex;
  align-items: center;
}

.image-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.images {
  display: flex;
  overflow-x: hidden;
}

.img1{
  width: 100%;
}

.images img {
  width: 100%;
  height: 68vh;
}


.section-2 {
  height: 90vh; 
  padding-top: 20px; 
}


.items2 {
  display: flex;
  width: 600%;
  height: 70vh; 
  margin-top: 100px;
}
.section-2 .carousel-controls {
  position: absolute;
  top: 130%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  
  justify-content: space-between;
}

.section-2 .carousel-controls .arrow {
  cursor: pointer;
  background: transparent;
  font-size: 18px;
  color: #585757;
  outline: auto;
  padding: 10px;
}

.section-2 .carousel-controls .left-arrow {
  left: 20px;
}

.section-2 .carousel-controls .right-arrow {
  right: 20px;
}


.section-3 {
  height: 100vh; 
  padding-top: 20px; 
}
.section3 img{
  align-items: flex-start;
}

.carousel-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  position: absolute;
  bottom: -35px;
  width: 100%;
}

.page-numbers {
  display: flex;
  align-items: center;
}

.page-numbers span {
  cursor: pointer;
  margin: 0 5px;
  font-size: 18px;
  color: #333;
}

.page-numbers .current-page {
  color: #4b4949;
  font-weight: bold;
}

.arrow {
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: 18px;
  color: #585757;
  outline: none;
  padding: 10px;
}

.section-4{
  margin-top: 20px;
  padding-top: 20px;
}

.section-5{
  background-color: #252525;
}








.App {
  text-align: center;
}
